# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch / checkpoints / data
# checkpoints/ releasing the model tokenizers 
klint_32m_step_5.pt
klint_32m_best.pt
*.pth
data/sol_tokens.pt
!data/SOL.npy

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.venv/
env/
venv/
ENV/

# Testing & caches
.pytest_cache/
.coverage
htmlcov/
