# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch / checkpoints / data
# checkpoints/ 'releasing the model tokenizers'
klint_32m_step_5.pt
klint_32m_best.pt
*.pth
klint_32m_step_500.pt 
# the checkpoint for the 500th step of training {will be released later at huggingface under the user `akhverm` [akhverm](https://huggingface.co/akhverm) }

klint_32m_step_1000.pt 
# the checkpoint for the 1000th step of training {will be released later at huggingface under the user `akhverm` [akhverm](https://huggingface.co/akhverm) }

klint_32m_step_1500.pt 
# the checkpoint for the 1500th step of training {will be released later at huggingface under the user `akhverm` [akhverm](https://huggingface.co/akhverm) }
klint_32m_step_1505.pt 


# data/sol_tokens.pt releasing the tokenized(.pt) data file
# data/SOL.npy releasing the numpy data file

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.venv/
env/
venv/
ENV/

# Testing & caches
.pytest_cache/
.coverage
htmlcov/

